<ul class="list-group">
  <% polls.forEach(function(poll) { %>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        <%= poll.escape('title') %>
      </h4>
      <div class="btn-group btn-group-sm">
        <% if(PollrBear.currentUser.id === poll.get('user_id')) { %>
          <button type="button" class="btn btn-default show-questions" data-poll-id="<%= poll.id %>">Show Poll</button>
          <button type="button" class="btn btn-default">Edit</button>
          <button type="button" class="btn btn-default">Delete</button>
          <button type="button" class="btn btn-default">Report</button>
          <% } else { %>
            <button type="button" class="btn btn-default">Ignore</button>
            <button type="button" class="btn btn-default btn-show-questions" data-poll-id="<%= poll.id %>">Accept</button>
            <% }; %>
      </div>
      <p class="list-group-item-text">
        <%= poll.escape('text') %>
      </p>
    </li>
    <div class="show-questions" data-poll-id="<%= poll.id %>">
    </div>
    <% }); %>
</ul>
