<div class="select-page-wrap select-page-wrap-top">
  <a href="#" class="prev-page">Previous</a>
  <% for (var i = 1; i <= totalPages; i++) { %>
    <a href="#" class="select-page" data-page-id="<%= i %>">
      <%= i %>
    </a>
    <% }; %>
      <a href="#" class="next-page">Next</a>
</div>
<table class="table">
  <% polls.forEach(function(poll) { %>
    <% var n = poll.id; %>
      <tr>
        <td></td>
        <td>
          <span class="poll-responses" data-poll-id="<%= n %>">0</span>
          <br>
          <small>Votes</small>
        </td>
        <td class="poll-text-wrap">
          <span class="poll-format" data-poll-id="<%= n %>"></span>
        </td>
        <td>
          <a href="#" class="select-poll" data-poll-id="<%= n %>">
          <span class="poll-text" data-poll-id="<%= n %>">poll
          </span>
        </a>
          <span class="poll-user" data-poll-id="<%= n %>"></span>
        </td>
      </tr>
      <% }); %>
</table>
<div class="select-page-wrap select-page-wrap-bottom">
  <a href="#" class="prev-page">Previous</a>
  <% for (var i = 1; i <= totalPages; i++) { %>
    <a href="#" class="select-page" data-page-id="<%= i %>">
      <%= i %>
    </a>
    <% }; %>
      <a href="#" class="next-page">Next</a>
</div>
