<div class="page-nav group">
    <a href="#" class="page-nav-prev"><i class="fa fa-angle-left"></i></a>
    <% for (var i = 1; i <= totalPages; i++) { %>
        <a href="#" class="page-nav-select" data-page-id="<%= i %>">
            <%= i %>
        </a>
        <% }; %>
            <a href="#" class="page-nav-next"><i class="fa fa-angle-right"></i></a>
</div>
<% polls.forEach(function(poll) { %>
    <% var n = poll.id; %>
        <a class="poll-select group" href="#" data-poll-id="<%= n %>">
            <div class="poll-votes group" data-poll-id="<%= n %>">
            </div>
            <div class="poll-text" data-poll-id="<%= n %>"></div>
            <div class="poll-info" data-poll-id="<%= n %>"></div>
      </a>
        <% }); %>

            <div class="page-nav group">
                <a href="#" class="page-nav-prev"><i class="fa fa-angle-left"></i></a>
                <% for (var i = 1; i <= totalPages; i++) { %><a href="#" class="page-nav-select" data-page-id="<%= i %>"><%= i %></a><% }; %>
                        <a href="#" class="page-nav-next"><i class="fa fa-angle-right"></i></a>
            </div>
