<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="panel-title">Active Polls</h4>
  </div>
  <ul class="list-group">
    <% polls.forEach(function(poll) { %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 col-lg-8">
            <h4 class="heading-a">
              <%= poll.escape('title') %>
            </h4>
          </div>
          <div class="col-sm-12 col-lg-4">
            <div class="btn-group btn-group-sm pull-right">
              <% if(PollrBear.currentUser.id === poll.get('user_id')) { %>
                <button type="button" class="btn btn-default a-questions-show" data-poll-id="<%= poll.id %>">Show</button>
                <button type="button" class="btn btn-default a-poll-destroy">Delete</button>
                <button type="button" class="btn btn-default a-poll-report">Report</button>
                <% } else { %>
                  <button type="button" class="btn btn-default a-poll-ignore">Ignore</button>
                  <button type="button" class="btn btn-default a-questions-show" data-poll-id="<%= poll.id %>">Accept</button>
                  <% }; %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p class="text-a">
              <%= poll.escape('text') %>
            </p>
          </div>
        </div>
      </li>
      <div class="show-questions" data-poll-id="<%= poll.id %>">
      </div>
      <% }); %>
  </ul>
</div>
