<div class="page-header">
  <div id="errors-header">
  </div>
</div>
<form id="poll-form">
  <input type="text" name="poll[title]" id="poll-title">
  <input type="text" name="poll[description]" id="poll-title">
  <input type="hidden" name="poll[id]" id="poll-id" value="">
  <button class="btn btn-default submit-poll-form">submit</button>
</form>
<section id="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Poll</th>
        <th>Moderator</th>
        <th></th>
        <th></th>
      </thead>
      <% polls.forEach(function (poll) { %>
        <tr>
          <td><%= poll.id %> <%= poll.escape('title') %></td>
          <td><%= poll.escape('created_at') %></td>
          <td><button class="btn btn-default show-poll" data-id="<%= poll.id %>"></td>
          <td>
            <div class="btn-access btn-group" data-id="<%= poll.id %>">
              <button class="btn btn-default show-poll-info" data-id="<%= poll.id %>">
            </div>
          </td>
        </tr>
        <tr class="show-delete-confirmation collapsed">
          <td rowspan="2" colspan="4">
            <button class="submit-delete">Confirm</button>
          </td>
        </tr>
        <tr class="show-poll-info collapsed">
          <td rowspan="2" colspan="4">
            <%= poll.escape('description') %>
            <br>
            Created by <%= poll.escape('user.email') %>
          </td>
        </tr>
      <% }); %>
    </table>
  </div>
</section>
