<% polls.forEach(function(poll) { %>
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <h4 class="list-group-item-heading">
        <%= poll.escape('title') %>
      </h4>
    </div>
    <div class="col-sm-12 col-lg-4">

      <% if(PollrBear.currentUser.id === poll.get('user_id')) { %>
        <a href="#" class="a-questions-show" data-poll-id="<%= poll.id %>">Show</a>
        <a href="#" class="a-poll-edit">Edit</a>
        <a href="#" class="a-poll-destroy">Delete</a>
        <a href="#" class="a-poll-report">Report</a>
        <% } else { %>
          <a href="#" class="a-poll-ignore">Ignore</a>
          <a href="#" class="a-questions-show" data-poll-id="<%= poll.id %>">Accept</a>
          <% }; %>
    </div>
  </div>
  <div class="col-sm-12 col-lg-8">
    <p class="list-group-item-text">
      <%= poll.escape('text') %>
    </p>
  </div>
  <div class="col-sm-12 col-lg-4"></div>
  </div>
  </div>
  <div class="row">
    <div class="show-questions" data-poll-id="<%= poll.id %>">
    </div>
  </div>
  <% }); %>
