<div class="row">
  <div class="col-xs-10">
    <h3>
      <%= poll.escape('text') %>
    </h3>
    <button type="button" class="btn btn-default go-back"><i class="fa fa-th-list"> Back</i></button>
  </div>
</div>

<div class="row" id="answers">
  <% answers.forEach(function(answer) { %>
    <div class="col-xs-12 col-md-6">
      <button type="button" class="btn btn-default btn-block answer-select" data-answer-id="<%= answer.id %>">
        <%= answer.escape('text') %>
      </button>
    </div>
    <% }); %>
</div>
<div id="results" class="form-collapsed">
  <div class="canvas-wrapper">
    <div id="canvas-holder">
      <canvas height="240" width="360" id="chart"></canvas>
    </div>
  </div>

  <table class="table table-striped">
    <% var i = 0; %>
      <% answers.forEach(function(answer) { %>
        <tr>
          <td>
            <%= percentages[i] %>
          </td>
          <td colspan="3">
            <%= answer.attributes.text %>
          </td>
          <% i++; %>
        </tr>

        <% }); %>
  </table>
</div>
