<div class="poll-table-heading">
  <button type="button" class="btn btn-default go-back">Back</button>
  <h3>
    <%= poll.escape('text') %>
  </h3>
</div>

<div class="row" id="answers">
  <% answers.forEach(function(answer) { %>
    <div class="col-xs-12 col-md-6">
      <div class="answer-select-wrap">
        <button type="button" class="btn-answer-select" data-answer-id="<%= answer.id %>">
          <%= answer.escape('text') %>
        </button>
      </div>
    </div>
    <% }); %>
</div>
<div id="results" class="form-collapsed">
  <div id="canvas-wrap">
    <div id="canvas-holder">
      <canvas height="240" width="360" id="chart"></canvas>
    </div>
  </div>
  <table class="table">
    <% var i = 0; %>
      <% answers.forEach(function(answer) { %>
        <tr>
          <td>
            <%= percentages[i] %>
          </td>
          <td colspan="3">
            <%= answer.attributes.text %>
          </td>
          <% i++; %>
        </tr>
        <% }); %>
  </table>
</div>
