<div class="page-header">
  <div id="errors-header">
  </div>
</div>
<section id="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Question</th>
        <th></th>
        <th></th>
      </thead>
      <% questions.forEach(function (question) { %>
        <tr>
          <td><%= question.id %> <%= question.escape('text') %></td>
          <td><%= poll.escape('created_at') %></td>
          <td><button class="btn btn-default show-poll" data-id="<%= poll.id %>"></td>
          <td>
            <div class="btn-access btn-group" data-id="<%= poll.id %>">
              <button class="btn btn-default show-poll-info">
            </div>
          </td>
        </tr>
        <tr class="show-delete-confirmation">
          <td rowspan="2" colspan="4">
            <button class="submit-delete">Confirm</button>
          </td>
        </tr>
        <tr class="show-poll-info">
          <td rowspan="2" colspan="4">
            <%= poll.escape('description') %>
            <br>
            Created by <%= poll.escape('user.email') %>
          </td>
        </tr>
      <% }); %>
    </table>
  </div>
</section>
