<div class="row">
    <div class="col-xs-6">
        <button type="button" class="btn btn-std go-back">
            Back to list</button>
    </div>
    <div class="col-xs-6 poll-show-heading-wrap">
        <div class="poll-show-heading">
            <% if(poll.attributes.format === 1) { %>
                <span class="poll-show-heading-text">Multiple Choice</span>
                <span class="chart-icon"></span>
                <% } else { %>
                    <span class="poll-show-heading-text">Open Ended</span>
                    <span class="cloud-icon"></span>
                    <% }; %>
        </div>
    </div>
</div>

<div class="allow-realign overlay-collapsed">
    <h2><i class="fa fa-spinner fa-pulse"></i> Hang on...</h2>
</div>
<div id="answers" class="row">
    <div class="col-xs-12 answer-wrap">
        <h3 class="answer-wrap-title">
            <%= poll.escape('text') %>
        </h3>

        <% if(poll.attributes.format === 1) { %>
            <% var i = 0; %>
                <% answers.forEach(function(answer) { %>
                    <button type="button" class="btn btn-std btn-answer-select" data-answer-id="<%= answer.id %>">
                        <span class="answer-label">
                            <%= labels[i] %>:</span>
                        <span class="answer-text">
                            <%= answer.escape('text') %>
                        </span>
                        <% i++; %>
                    </button>
                    <% }); %>
                        <% } else { %>
                            <form id="word-cloud">
                                <h3 class="heading"></h3>
                                <textarea rows="5" class="word-cloud-text form-class form-control" name="response[text]" placeholder="Make some words"></textarea>
                                <button type="button" class="btn btn-uniq" id="submit-word-cloud">Submit</button>
                            </form>

                            <% }; %>
    </div>
</div>
<div id="results" class="row form-collapsed">
    <div class="col-xs-12 answer-wrap">
        <h3 class="answer-wrap-title">
            <%= poll.escape('text') %>
        </h3>
        <% if(poll.attributes.format === 1) { %>
            <div class="row">
                <div id="poll-results" class="col-xs-12 col-md-12 col-lg-5">
                </div>
                <div class="col-xs-12 col-md-12 col-lg-7">
                    <div id="canvas-wrap">
                        <div id="canvas-holder">
                            <canvas height="360" width="360" id="chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>
                <div class="row">
                    <div id="poll-results-cloud" class="col-xs-12">
                    </div>
                </div>
                <% }; %>
    </div>
</div>
