<div class="row">
  <div class="col-xs-10">
    <h3>
      <%= poll.escape('text') %>
    </h3>
  </div>
  <div class="col-xs-2">
    <a href="#" class="go-back">Back</a>
  </div>
</div>

<div class="row" id="answers">
  <% answers.forEach(function(answer) { %>
    <div class="col-xs-12 col-md-6">
      <button type="button" class="btn btn-default btn-block answer-select" data-answer-id="<%= answer.id %>">
        <%= answer.escape('text') %>
      </button>
    </div>
    <% }); %>
</div>
<div id="results" class="row form-collapsed">
  <div class="col-xs-12 col-lg-8">
    <div id="canvas-holder">
      <canvas height="300" width="300" id="chart"></canvas>
    </div>
  </div>
  <div class="col-xs-12 col-lg-4">

    <% var i = 0; %>
      <% answers.forEach(function(answer) { %>
        <div class="row">
          <div class="col-xs-12">
            <h5>
              <button class="btn btn-default circle">
                <%= percentages[i] %>
              </span><br>

              <%= answer.attributes.text %>
            </h5>
          </div>
        </div>
        <% i++; %>
          <% }); %>
  </div>
  <div class="col-xs-12 poll-summary">
    <p class="user-details">
    </p>
  </div>




</div>
