
<div class="col-xs-12 col-md-6 col-lg-4">
  <div class="panel panel-default">
    <ul class="list-group user-polls" data-id="<%= user.id %>">
    </ul>
  </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
  <div class="panel panel-default">
    <ul class="list-group user-questions" data-id="<%= user.id %>">
    </ul>
  </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
  <div class="panel panel-default">
    <ul class="list-group user-answers" data-id="<%= user.id %>">
    </ul>
  </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
  <div class="panel panel-default">
    <ul class="list-group user-responses" data-id="<%= user.id %>">
    </ul>
  </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
  <div class="panel panel-default">
    <ul class="list-group user-invites" data-id="<%= user.id %>">
    </ul>
  </div>
</div>
