<li class="list-group-item">
  <% questions.forEach(function(question) { %>
    <a href="#" class="select-question" data-question-id="<%= question.id %>">
      <%= question.escape('text') %>
    </a>
    <form data-question-id="<%= question.id %>">
      <% question.attributes.answers.forEach(function(answer) { %>
        <div class="radio">
          <label>
            <input type="radio" name="response[answer_id]" value="<%= answer.id %>">
            <%= answer.text %>
          </label>
        </div>
        <% }); %>
    </form>
    <% }); %>
</li>
